*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}

/* Header Styles */
header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #111827;
}

.site-logo {
  text-decoration: none;
  color: #fff;
}

.search-form {
  outline: 1px solid #616161;
  width: 33%;
  display: flex;
  height: 32px;
}

.search-form:hover {
  outline: 1px solid #fff;
}

.search-form input {
  width: 100%;
  padding-inline: 0.5rem;
  outline: none;
  border: none;
  background-color: #303030;
  color: #b5b5b5;
}

.search-form button {
  padding-inline: 1rem;
  background-color: #111827;
  color: #fff;
  border: none;
  cursor: pointer;
}

.search-form button:active {
  background-color: #111827;
}

.sign-in {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.sign_in {
  display: flex;
  font-size: 1em;
  color: #fff;
  text-decoration: none;
}

.sign-in button {
  all: unset;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
}

/* Hero Styles */
.hero-section {
  min-height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-movie-container {
  display: flex;
  margin-left: 98px;
  width: 25%;
  flex-flow: column;
  padding-block: 2rem;
}

.hero-movie_name {
  color: #fff;
  font-size: 48px;
}

.hero-movie_about {
  color: #fff;
  font-size: 1.5em;
}
/* movies section */

.movie-list {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(4, minmax(200px, 1fr));
  padding-inline: 2rem;

  @media (max-width: 758px) {
    grid-template-columns: 1fr;
  }
}

.movie-card {
  background-color: rgba(10, 10, 10, 0.2);
  border-radius: 0.5rem;
  padding: 1rem;
  position: relative;
}

.movie-details {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
}

.movie-title {
  color: #111827;
  font-size: 18px;
  font-family: "DM Sans";
}

.movie-image {
  width: 100%;
  border-radius: 0.5rem;
}

.movie-overview {
  color: #111827;
}

.movie-control {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.movie-control > * {
  all: unset;
  color: #303030;
  font-size: 18px;
  cursor: pointer;
}

/* footer styles */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  gap: 2rem;
  width: 100%;
  padding-top: 2rem;
}

.social {
  display: flex;
  gap: 4rem;
}

.terms {
  display: flex;
  gap: 4rem;
  list-style: none;
}

.copyright {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  color: #6b7280;
}
