*,
*::after,
*::before {
    margin: 0;
    box-sizing: border-box;
}

/* Header Styles */
header {
    background-color: red;
    opacity: 0.7;
}

.sign_in {
    font-size: 1em;
    color: #fff;
}

.movie-box {
    margin-left: 98px;
}

/* Hero Styles */
.hero-section {
    max-width: 100%;
    min-height: 500px;
    background-repeat: no-repeat;
    
    background-size: cover;
    background-color: red;
    margin-bottom: 0;

}

.hero-movie-container {
    display: flex;
    margin-left: 98px;
    width: 25%;
    flex-flow: column;
    padding-block: 2rem;
}

.hero-movie_name {
    color: #fff;
    font-size: 48px;
}

.hero-movie_about {
    color: #fff;
    font-size: 1.5em;
}

/* movies section */
.movie-section {
    background-color: red;
}

.movie-card {
    display: grid;
    grid-gap: 80px;
    grid-template-columns: repeat(4, 1fr);
    margin: 161px 98px ;
}

.movie-details {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: flex-start;
}

.movie-title {
    color: #111827;
    font-size: 18px;
    font-family: 'DM Sans';
}

.movie-image {
    width: 100%;
}

/* footer styles */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    gap: 36px;
    margin: 50px 0;
    background-color: red;
}

.social {
    display: flex;
    gap: 48px;

}

.terms {
    display: flex;
    gap: 48px;
}

.copyright {
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    color: #6B7280;
}