*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}

/* Header Styles */
header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #111827;
}

.sign_in {
  font-size: 1em;
  color: #fff;
}

.search-box {
  border: 1px solid #fff;
}

.search-box input {
  padding: 0.5rem;
  outline: none;
  border: none;
}

.search-box button {
  background-color: grey;
  color: #fff;
  padding: 0.5rem;
  border: none;
  cursor: pointer;
}

/* Hero Styles */
.hero-section {
  min-height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-movie-container {
  display: flex;
  margin-left: 98px;
  width: 25%;
  flex-flow: column;
  padding-block: 2rem;
}

.hero-movie_name {
  color: #fff;
  font-size: 48px;
}

.hero-movie_about {
  color: #fff;
  font-size: 1.5em;
}
/* movies section */

.movie-list {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(4, minmax(200px, 1fr));
  padding-inline: 2rem;

  @media (max-width: 758px) {
    grid-template-columns: 1fr;
  }
}

.movie-card {
  background-color: rgba(10, 10, 10, 0.2);
  border-radius: 0.5rem;
  padding: 1rem;
}

.movie-details {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
}

.movie-title {
  color: #111827;
  font-size: 18px;
  font-family: "DM Sans";
}

.movie-image {
  width: 100%;
  border-radius: 0.5rem;
}

.movie-overview {
  color: #111827;
}

/* footer styles */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  gap: 2rem;
  width: 100%;
  padding-top: 2rem;
}

.social {
  display: flex;
  gap: 4rem;
}

.terms {
  display: flex;
  gap: 4rem;
  list-style: none;
}

.copyright {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  color: #6b7280;
}
